.quote {
    background: var(--mfc-background-tertiary) !important;
    border-radius: 0 5px 5px 0;

    padding: 8px;
    margin: 8px auto;
    width: calc(100% - 16px);
    max-height: 25vh;
    overflow-y: auto;
    border: var(--mfc-border-primary) 1px solid;
    border-left: #0095ff 2px solid;
    color: var(--mfc-color-primary);
}

.quote[ data-layer = 'true' ] {
    border-color: var(--mfc-border-secondary);
    border-left-color: #0095ff;
}

.wrapper > * {
    font-family: "Roboto";
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;

    margin: 0;

}

.divider {
    width: calc(100% - 16px);
    margin: 16px auto;
    height: 1px;
    background: var(--mfc-border-secondary);
    border-radius: 2px;

}

.list {
    font-family: "Roboto";
    line-height: .7rem;

}

.listRow {
    font-size: .9rem;
    color: var(--mfc-color-primary);
}

.nestedList .listRow {
    font-size: .8rem;
    color: var(--mfc-color-secondary);
}

.paragraph {
    font-family: "Roboto";
    width: 100%;
    max-width: 100%;

    white-space: pre-wrap;
    word-wrap: break-word;

    margin: 0;
    font-size: .9rem;
}

.tableWrapper {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

.tableRow:nth-child(even) {
    background-color: #dddddd;
}

.tableContent {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


/*CODE*/

.tag {
    font-weight: bold;
    color: #FFA900;
}

.attr {
    font-weight: normal;
    color: var(--mfc-color-tertiary) ;
}

.attrValue {
    color: var(--mfc-color-secondary);
    font-weight: normal !important;
}

.code {
    position: relative;

    font-size: .85rem;
    color: var(--mfc-color-secondary);
    border-radius: 5px;
    padding: 5px;

    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 8;
    overflow: auto;
    max-height: 35vh;
    background: var(--mfc-background-secondary);
    border: var(--mfc-border-secondary) 1px solid;
}

.keyword {
    font-weight: bolder;
    color: #FF5500;
}
.domKeyword{
    font-weight: bolder;
    color: #7209b7;
}
.strings{
    font-weight: bold;
    color: #6a994e !important;
}

.lineEnumeration{
    position: absolute;

}